body {
    background-color: #7D55C7;
    color: #05C3DD;
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    /*margin: 100px;
    padding: 100px;*/
    font-family: monospace;
    animation-name: body;
    animation-duration: 4s;
}

img{
    width: 100px;
}
h1{
    color: #F277C6;
    margin: 10px;
    
}

@media (min-width: 576px){
    h2{
        margin: 5px;
        color: #F277C6;
        font-size: large;
        text-decoration: underline;
    }
}
h2{
    margin: 10px;
    color: #F3EA5D;
    font-size: xx-large;
    text-decoration: underline;
}
h3{
    color: #4D49BE;
}

.seccion p:hover {
    background-color: #0099cc;
    color: #F277C6;
    border-radius: 15px;
  }
.seccion li:hover {
    background-color: #0099cc;
    color: #F277C6;
    border-radius: 15px;
  }
.seccion, nav{
    background-color: #F3EA5D;
    margin: 10px;
    /*padding: 100px;*/
    border: 5px solid #05C3DD;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar{
    background-color: #0099cc !important;
}
.navbar-toggler{
    margin: 5px;
}
table{
    background-color: #F3EA5D;
    width: 80%;
}
table, th, td {
    text-align: center;
    border: 5px solid #F277C6;
    margin: 10px;
    padding: 10px;
}

@keyframes body {
    0%   {background-color: #05C3DD;}
    25%  {background-color: hsl(56, 86%, 66%);}
    50%  {background-color: #F277C6;}
    100% {background-color: #4D49BE;}
  }

  .logo-max{
    border-radius: 75px;
    animation-name: image;
    animation-duration: 4s;
    animation: image 2000ms ease-in-out forwards;
    width: 100px;
}

  @keyframes image {
    
    to{ transform: scale(1.5); }

  }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #F277C6;
    border: 5px solid #4D49BE;
}